@tailwind base;
@tailwind components;
@tailwind utilities;

.font-lexend {
  font-family: 'Lexend Variable', sans-serif;
}
.font-noto {
  font-family: 'Noto Sans Syriac Variable', sans-serif;
}
.font-nabla {
  font-family: 'Nabla Variable', system-ui;
}
.font-pacifico {
  font-family: 'Pacifico', cursive;
}
html {
  scroll-behavior: smooth;
}

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

::view-transition-old(root){
  animation: none;
  mix-blend-mode: plus-lighter;
}
::view-transition-new(root) {

}
.dark::view-transition-old(root),
.dark::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
/* .main-header {
  view-transition-name: main-header;
} */
.astrodivider {
  /* margin:64px auto; */
  width:400px; 
  max-width: 100%;
  position:relative;
}

.astrodividermask { 
    overflow:hidden; height:20px; 
}

.astrodividermask:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
        border-radius:125px / 12px;
       box-shadow:0 0 8px rgb(37 99 235);
}
.astrodivider span {
    width:50px; height:50px; 
    position:absolute; 
    bottom:100%; margin-bottom:-27px;
    left:50%; margin-left:-25px;
    border-radius:100%;
   box-shadow:0 1px 2px rgb(37 99 235);
    /* background:#fff; */
}
.astrodivider i {
    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:100%;
    border:1px dashed rgb(37 99 235);
    text-align:center;
    line-height:40px;
    font-style:normal;
     /* color:#049372; */
}

.main-cursor,
.secondary-cursor {
  z-index: 10000;

  pointer-events: none;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.main-cursor {
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  mix-blend-mode: difference;

  .main-cursor-background {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
  }
}

.secondary-cursor {
  width: 60px;
  height: 60px;

  .cursor-background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    &:after,
    &:before {
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: white;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
    }
    &:before {
      left: 10px;
    }

    &:after {
      right: 10px;
    }
  }
}

.slider-drag {
  .cursor-background {
    animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
      bgUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;

    &:after {
      animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
        translateRightDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
    }

    &:before {
      animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
        translateLeftDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
    }
  }

  .main-cursor {
    animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  }
}

.hamburger {
  .cursor-background {
    animation: fadeOut 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  }

  .main-cursor-background {
    animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bgUp {
  from {
    background-color: transparent;
  }

  to {
    background-color: black;
  }
}

@keyframes bgDown {
  from {
    background-color: black;
  }

  to {
    background-color: transparent;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
}

@keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
}
@layer utilities {
.bgg{
  background-color: #020817;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='202' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bgg-light{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='202' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23020817' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.divider{
  /* border-radius: 20px; */
/* background: #fff; */
box-shadow:  40px 40px 150px #ffffff,
             -40px -40px 150px #ffffff;
}
.gradient-to-dark{
  background: rgb(2,8,23);
  background: -moz-radial-gradient(circle, rgba(2,8,23,0) 17%, rgba(2,8,23,1) 49%, rgba(2,8,23,1) 77%, rgba(2,8,23,1) 100%, rgba(2,8,23,0) 100%);
  background: -webkit-radial-gradient(circle, rgba(2,8,23,0) 17%, rgba(2,8,23,1) 49%, rgba(2,8,23,1) 77%, rgba(2,8,23,1) 100%, rgba(2,8,23,0) 100%);
  background: radial-gradient(circle, rgba(2,8,23,0) 17%, rgba(2,8,23,1) 49%, rgba(2,8,23,1) 77%, rgba(2,8,23,1) 100%, rgba(2,8,23,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020817",endColorstr="#020817",GradientType=1);
}
.gradient-to-light{
  background: rgb(255,255,255);
background: -moz-linear-gradient(185deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0.45719537815126055) 31%, rgba(2,8,23,0) 52%, rgba(255,255,255,0.5104166666666667) 68%, rgba(255,255,255,1) 88%);
background: -webkit-linear-gradient(185deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0.45719537815126055) 31%, rgba(2,8,23,0) 52%, rgba(255,255,255,0.5104166666666667) 68%, rgba(255,255,255,1) 88%);
background: linear-gradient(185deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0.45719537815126055) 31%, rgba(2,8,23,0) 52%, rgba(255,255,255,0.5104166666666667) 68%, rgba(255,255,255,1) 88%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.gradient-to-light-180{
  background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0.45719537815126055) 31%, rgba(2,8,23,0) 52%, rgba(255,255,255,0.5104166666666667) 68%, rgba(255,255,255,1) 88%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0.45719537815126055) 31%, rgba(2,8,23,0) 52%, rgba(255,255,255,0.5104166666666667) 68%, rgba(255,255,255,1) 88%);
background: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0.45719537815126055) 31%, rgba(2,8,23,0) 52%, rgba(255,255,255,0.5104166666666667) 68%, rgba(255,255,255,1) 88%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
}


  /* The browser window */
.hl-js .container {
  border: 3px solid #f1f1f1;
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
}

/* Container for columns and the top "toolbar" */
.hl-js .row {
  padding: 10px;
  /* background: #f1f1f1; */
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
}

/* Create three unequal columns that floats next to each other */
.hl-js .column {
  float: left;
}

.hl-js .left {
  width: 15%;
}

.hl-js .right {
  width: 10%;
}

.hl-js .middle {
  width: 75%;
}

/* Clear floats after the columns */
.hl-js .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.hl-js .dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
.hl-js label {
  /* width: full; */
  border-radius: 3px;
  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
}

/* Three bars (hamburger menu) */
.hl-js .bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

/* Page content */
.hl-js .content {
  padding: 10px;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
